#heading{
    color: blue;
    background-color: yellow;
}

.para {
    color: red;
}

.heading{
    color: green;
}

.btn{
    background-color: blueviolet; color: white;
}

#btn{
    background-color: brown;
}